/* CSS Document */

*{
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight:normal;
	color: #000000;	
}

#geral{
	padding:0px;
	margin: 0 auto;
}

body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

#cabecalho_ead{	
	background: transparent url(../img_int/cabecalho.gif) no-repeat;
	background-position: center left;
	height: 200px;
	margin-bottom:0px;
	width: 100%;
	float: left;
}

#login{
	float: right;
	width:220px;
	height: 200px;
	font-size: 6px;
	color:#333333;
}

#cabecalho_down{
	clear: both;  /*nao flutuar*/
	width:100%;
	border-bottom: 0px solid #e0edff;
}

.login{
	size:10px;
  	border-width:3px; 
	border-style:solid; 
	font-size:8pt; 
	color:#009900; 
	letter-spacing:3px;
}

#cabecalho_down{
	background-color:#FFFF00;
	clear: both;  /*nao flutuar*/
	height: 10px;
}

/*=== inicio MENU ===*/

#menus{
	background: #ffffff;
	float: left;
	width: 15%;
	padding: 5px;
	border-right: 1px solid #6699CC;
}

#barraDivisao{
	color: #FFFFFF;  /*cor fonte*/
	background-color: #6699CC;  /*fundo*/
	border-left:10px solid #0000aa;  /*barrinha*/
	padding-top: 2px;
	padding-bottom: 2px;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 0.1em;
}

ul#menu { 
margin: 0; /* retira o recuo para alguns browsers */ 
padding:0; /* retira o recuo para outros browsers */ 
list-style-type: none; /* retira o marcador de listas*/ 
text-decoration: none; /* retira o sublinhado dos links */ 
background-color: #ffffff; /* cor do fundo */ 
width:150px; /* uma largura para o menu */ 
font-size: 11px;
text-align:left;
}


a:link, a:visited{
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000ff;
}

tr td a:link, a:visited{
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000ff;
}

tr td a:houver{
	text-decoration: none;
	color: #FF0000;
	font-weight:bold;
}


ul#menu li {
border-bottom:1px solid #a4a0f5; /* coloca uma borda azul entre links */ 
}

ul#menu li a:link {
text-decoration: none; /* retira o sublinhado dos links */ 
font-family: Geneva, Arial, Helvetica, sans-serif; /* define o tipo de fonte */ 
font-size:11px; /* define o tamanho da fonte */ 
color: #0000FF; /* define a cor da fonte */ 
}

ul#menu li a:hover {  /* mouse sobre o link */ 
text-decoration: none; /* retira o sublinhado dos links */ 
background-color: #c3d9ff; /* cor do fundo */
color: #0000FF; /* cor da fonte */
display:block; /* pega ta extensao do background do LI */
}

/* Borda e espaçamento: colocando uma borda colorida e um espaçamento a esquerda */
ul#menu li a:link, ul#menu li a:visited {
border-left:10px solid #e0edff; /* uma barrinha a esquerda dos links normal */ 
padding-left:5px; /* espaçamento entre a barrinha e o texto do link */ 
text-decoration: none; /* retira o sublinhado dos links */ 
}

ul#menu li a:link, ul#menu li a:visited {
display:block; /* Tornando toda a área clicável */
height:1%; /* declarando height para IE */
}

/* Rollover: trocando a cor da borda com o mouse sobre o link (no rollover) */
ul#menu li a:hover {
border-left:10px solid #6699CC; /* troca a cor da barrinha */ 
text-decoration: none; /* retira o sublinhado dos links */ 
}

/* Adicionando um hack para o IE */
ul#menu li a:hover {
border-left:10px solid #6699CC; /* troca a cor da barrinha */ 
text-decoration: none; /* retira o sublinhado dos links */ 
}

/* === fim MENU === */ 



/* === inicio CORPO === */

#corpo{
	background: #ffffff;
	float:left;
	width: 82%;
	padding: 8px;
}

p{
	text-indent: 50px;  /* recuo 1º linha do paragrafro */
	text-align: justify;
}

.titulo{
	font: "Arial Black";
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #006600;
	text-transform: uppercase;
}

.subtituloE{
	font-weight: bold;
	text-align: left;
	color: #000000;
	text-transform: uppercase;
}

.subtituloC{
	font-weight: bold;
	text-align:center;
	color: #000000;
	text-transform: uppercase;
}

.subtituloNormal{
	font-weight: bold;
	text-align:center;
	color: #000000;
}

.subtituloD{
	font-weight: bold;
	text-align: right;
	color: #000000;
	text-transform: uppercase;
}

.centro{
	text-align: center;
}

.maiusculo{
	text-transform: uppercase; /* letra maiusculo */
}

.minusculo{
	text-transform: lowercase;  /* letra minusculo */
}

.destaqueTitulo{
	text-transform: uppercase;
	color: #FF0000;
	font-weight: bolder;
}

.destaquePrevia{
	text-align:justify;
}

.titulo_tab{
	text-align: center;
	font-weight: bolder;
}

#rodape1{
	  clear: both;  /*nao flutuar*/
      border-top: 1px  solid #00f;
	  border-bottom: 1px dashed #00f;
      color: #fff;
      background-color: #fff;
      height: 4px;
}


#rodape2{
	text-align:center;
	clear: both;  /*nao flutuar*/
	width:75%;
	border-bottom: 1px solid #e0edff;
	padding-top: 2px;
}

#rodape{
	background: #ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #0000FF;
	clear: both;  
	vertical-align: middle;
	height: 43px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#rodape a:link, a:visited{
	text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	/*text-align: center;*/
	/*color: #ffffff;*/
}

#rodape a:hover{
	text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color: #FF0000;
	display:block; /* Tornando toda a área clicável */
}

 a:link, a:visited{
	text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	/*text-align: center;*/
	/*color: #ffffff;*/
}

a:hover{
	text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
}

.rodEsq{
	vertical-align: middle;
	width: 15%;
	float: left;
	background: #ffffff;
	
}

.rodCen{
	vertical-align: middle;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0000FF;
	width: 73%;
	float: left;
	background: #ffffff;
}

.copyright{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0000FF;
	background: #ffffff;
}

.rodDir{
	vertical-align: middle;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #0000FF;
	width: 10%;
	float: left;
	background: transparent;
}